
@import "../mixins";


.btn-delete,
.btn-delete:active {
  background-color: #E70024;
  color: white !important;
  font-size: 10px;
  font-weight: 500;
  padding: 8px 10px;
}



a.link-pink {
  color: #F13596;
  font-weight: 500;
}

// Cancel, Submit buttom
.btn-bottom {
  margin-top: 150px;
}


// mini delete
:host ::ng-deep .btn-delete_small {
  background-color: #E70024;
  color: white !important;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 10px;

  border: none;

  @media screen and (max-width: 948px) {
    font-size: 62.5%;
  }
}

.btn-yellow-outline {
  background-color: inherit;
  color: #E3A831 !important;
  border: 1px solid #E3A831;
  // font-size: 16px;
  padding: 12px 48px;
  &:hover,
  &:active {
    background-color: #e3a831;
    color: #fff !important;
    border: 1px solid #e3a831;
  }

  @media screen and (max-width: 75em) {
    // width < 1200?
    // 1rem = 12px
    font-size: 10px;
    padding: 8px 25px;
  }

  // @media screen and (max-width: 1000px) {
  //   padding: 8px 15px;
  // }

  @media screen and (max-width: 1014px) {
    padding: 5px;
  }
}

.btn-green {
  background-color: #258339;
  color: #fff !important;
  border: 1px solid #258339;
  // font-size: 16px;
  padding: 12px 48px;
  &:hover,
  &:active {
    background-color: inherit;
    color: #258339 !important;
    border: 1px solid #258339;
  }

  @media screen and (max-width: 85.6875em) {
    // 1371px = 85.6875em
    // margin-left: 91px;
    // margin-top: 5px;
  }

  @media screen and (max-width: 75em) {
  // @include respond(tab-land) {
    // width < 1200?
    // 1rem = 12px
    // margin-left: 91px;
    font-size: 10px;
    // margin-top: 5px;
    padding: 8px 25px;
  }

  @media screen and (max-width: 1000px) {
    padding: 8px 15px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}

.btn-blue {
  background-color: #3191E3;
  color: white !important;
  border: 1px solid #3191E3;
  padding: 12px 48px;
  &:hover,
  &:active {
    background-color: #3191E3;
    color: #fff !important;
    border: 1px solid #3191E3;
  }

  @media screen and (max-width: 85.6875em) {
    // 1371px = 85.6875em
    // margin-left: 91px;
    // margin-top: 5px;
  }

  @media screen and (max-width: 75em) {
  // @include respond(tab-land) {
    // width < 1200?
    // 1rem = 12px
    // margin-left: 91px;
    font-size: 10px;
    // margin-top: 5px;
    padding: 8px 25px;
  }

  @media screen and (max-width: 1000px) {
    padding: 8px 15px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}


:host ::ng-deep .p-button-label {
  font-family: "Prompt", sans-serif;
}



// ?Button
.btn-pink {
  background-color: #f13596;
  color: white !important;
  border: 1px solid #f13596;
  // font-size: 16px;
  padding: 12px 48px;

  &:hover,
  &:active {
    background-color: white;
    color: #f13596 !important;
    border: 1px solid #f13596;
  }

  // @include respond(tab-land) {
  //   // width < 1200?
  //   // 1rem = 12px
  //   font-size: 10px;
  //   // margin-top: 5px;
  //   padding: 8px 25px;
  // }

  @media screen and (max-width: 75em) {
    // width < 1200?
    font-size: 10px;
    padding: 8px 25px;
  }

  // @media screen and (max-width: 1000px) {
  //   padding: 8px 15px;
  // }

  @media screen and (max-width: 1014px) {
    padding: 5px;
  }
}

.btn-cancel {
  background-color: #333333;
  color: white !important;
  border: 1px solid #333333;
  // font-size: 16px;
  padding: 12px 48px;

  &:hover,
  &:active {
    background-color: white;
    color: #333333 !important;
    border: 1px solid #333333;
  }

  @media screen and (max-width: 75em) {
    // width < 1200?
    font-size: 10px;
    padding: 8px 25px;
  }

  @media screen and (max-width: 1014px) {
    padding: 5px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}

.btn-red {
  background-color: #e70024;
  color: white !important;
  border: none;
  // font-size: 16px;
  padding: 12px 48px;
  &:hover,
  &:active {
    background-color: white;
    color: #e70024 !important;
    border: 1px solid #e70024;
  }

  @media screen and (max-width: 75em) {
    // width < 1200?
    font-size: 10px;
    padding: 8px 25px;
  }

  @media screen and (max-width: 1014px) {
    padding: 5px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}

.btn-upload {
  border: 1px solid #e3a831;
  color: #e3a831;
  // font-size: 16;
  display: inline-block;
  padding: 12px auto;
  cursor: pointer;
  background-color: inherit;

  &:hover,
  &:active {
    background-color: #e3a831;
    color: #fff !important;
    border: 1px solid #e3a831;
  }

  @media screen and (max-width: 85.6875em) {
    // 1371px = 85.6875em
    // margin-left: 91px;
    // margin-top: 5px;
  }

  @media screen and (max-width: 75em) {
  // @include respond(tab-land) {
    // width < 1200?
    // 1rem = 12px
    // margin-left: 91px;
    font-size: 10px;
    // margin-top: 5px;
    padding: 8px 25px;
  }

  @media screen and (max-width: 1000px) {
    padding: 8px 15px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}

.btn-yellow {
  border: 1px solid #e3a831;
  color: #fff;
  // font-size: 16;
  display: inline-block;
  padding: 12px auto;
  cursor: pointer;
  background-color: #e3a831;

  &:hover,
  &:active {
    background-color: #fff;
    color: #e3a831 !important;
    border: 1px solid #e3a831;
  }

  @media screen and (max-width: 85.6875em) {
    // 1371px = 85.6875em
    // margin-left: 91px;
    // margin-top: 5px;
  }

  @media screen and (max-width: 75em) {
  // @include respond(tab-land) {
    // width < 1200?
    // 1rem = 12px
    // margin-left: 91px;
    font-size: 10px;
    // margin-top: 5px;
    padding: 6px 25px;
  }

  @media screen and (max-width: 1000px) {
    padding: 8px 15px;
  }

  @media screen and (max-width: 768px) { // ipad
    padding: 5px;
    // font-size: 6px;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.print-only{
  display: none;
}

@media print {
  .no-print {
      display: none;
  }

  .print-only{
      display: block;
  }
}