// Make sure Modal 
.modal-body {
  padding: 64px 0px;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.color-red {
  color: #E70024;
}
.color-pink {
  color: #F13596;
}
.color-green {
  color: #00AB58;
}
.color-yellow {
  color: #E3A831;
}
.font-w300{
  font-weight: 300;
}