@import "src/assets/scss/mixins";

:host ::ng-deep .p-component {
  font-family: "Prompt", sans-serif;
}

.container {
  // top: 10vh;
  padding-top: 20vh;
  left: 20%;
  position: relative;
  // position: fixed;
  width: 40vw;
  height: 100vh;
  // margin: auto;
  // margin: 3rem 25rem;

  @include respond(tab-land) {
    // margin: 3rem 25rem;
    padding-top: 30vh;
    left: 0;
    width: 60vw;
    // width: 50vw;
  }
  @include respond(tab-port) {
    // margin: 3rem 15rem;
  }
  @include respond(phone) {
    // margin: 3rem 10rem;
    left: 0;
    // top: 15vh;
    width: 80vw;
  }
}

.login__logo {
  width: 200px;
  height: 200px;
  border-radius: 90px;

  @include respond(phone) {
    width: 100px;
    height: 100px;
  }
}

.login__form {
  background-color: var(--color-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;

  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.btn-login {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.u-left-text-small {
  font-size: 0.6rem;

  &,
  &:link,
  &:visited {
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
}

.text-input {
  width: 100%;
  & > label {
    color: var(--color-primary);
    font-size: 0.9rem;
  }
}

:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-password {
  width: 100%;
  font-size: 0.9rem;
  border-color: var(--color-yellow);
  // & .input-password-invaid {
  //   border-color: red;
  // }
}
:host ::ng-deep .p-input-icon-right > i:last-of-type {
  color: var(--color-yellow);
}

.input-password-invaid {
  border-color: red;
}

