:root {
  --color-primary:#6f03e3;
  --color-white: #FFFFFF;
  --color-yellow: #ab10ff;
  --color-primary-light: #ededed;
  
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

$color-primary-light: #ededed;